<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="./css/styles.css">
		<link rel="shortcut icon" href="https://viget.imgix.net/CRUD-icon.png?auto=format%2Ccompress&crop=focalpoint&fit=crop&fp-x=0.5&fp-y=0.5&ixlib=php-3.3.1&q=90&s=2aa7a7412753bc162a4e071dd34fc159" type="image/x-icon">
		<title>Symfony CRUD App</title>
	</head>
	{% block body %}{% endblock %}
</html>
